---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.openpay.mx/v1/mxibgczgkhrnyyeg01kz/customers/acwktt0druqzlzuj0gtp/cards
    body:
      encoding: UTF-8
      string: '{"card_number":4111111111111111,"holder_name":"Juan Perez Ramirez","expiration_year":21,"expiration_month":12,"cvv2":110}'
    headers:
      Authorization:
      - Basic c2tfZTRkMmY2OTMwNjNiNGZiOGExNTNhYjRiN2E4MWQ1NDc6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Openpay-Request-Id:
      - 3401e8d0-005d-4da2-acdf-2260e7c14e41
      Resource-Id:
      - k0r2wu052d00p8gxv0w9
      Location:
      - https://sandbox-api.openpay.mx/v1/mxibgczgkhrnyyeg01kz/customers/acwktt0druqzlzuj0gtp/cards/k0r2wu052d00p8gxv0w9
    body:
      encoding: UTF-8
      string: '{"id":"k0r2wu052d00p8gxv0w9","type":"debit","brand":"visa","address":null,"card_number":"411111XXXXXX1111","holder_name":"Juan
        Perez Ramirez","expiration_year":"21","expiration_month":"12","allows_charges":true,"allows_payouts":true,"creation_date":"2021-04-19T18:37:26-05:00","bank_name":"Banamex","bank_code":"002","customer_id":"acwktt0druqzlzuj0gtp"}'
  recorded_at: Mon, 19 Apr 2021 23:37:26 GMT
recorded_with: VCR 6.0.0
