---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.openpay.mx/v1/mxibgczgkhrnyyeg01kz/tokens/krnsmcqqypsft2xeftqt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic c2tfZTRkMmY2OTMwNjNiNGZiOGExNTNhYjRiN2E4MWQ1NDc6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Openpay-Request-Id:
      - 4384d0f2-3f37-4fe4-a868-17382cc5a08c
    body:
      encoding: UTF-8
      string: '{"id":"krnsmcqqypsft2xeftqt","card":{"card_number":"411111XXXXXX1111","holder_name":"Juan
        Perez Ramirez","expiration_year":"21","expiration_month":"12","address":null,"creation_date":null,"brand":"visa"}}'
  recorded_at: Sun, 04 Apr 2021 00:19:24 GMT
recorded_with: VCR 6.0.0
