---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.openpay.mx/v1/mxibgczgkhrnyyeg01kz/customers
    body:
      encoding: UTF-8
      string: '{"name":"Juan","last_name":"Vazquez Juarez","email":"juan.vazquez@empresa.com.mx","requires_account":true}'
    headers:
      Authorization:
      - Basic c2tfZTRkMmY2OTMwNjNiNGZiOGExNTNhYjRiN2E4MWQ1NDc6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Openpay-Request-Id:
      - e0292016-5414-4892-be45-93babab9298e
      Resource-Id:
      - ajvgvouwc4kmcxz8tukk
      Location:
      - https://sandbox-api.openpay.mx/v1/mxibgczgkhrnyyeg01kz/customers/ajvgvouwc4kmcxz8tukk
    body:
      encoding: UTF-8
      string: '{"id":"ajvgvouwc4kmcxz8tukk","name":"Juan","last_name":"Vazquez Juarez","email":"juan.vazquez@empresa.com.mx","phone_number":null,"status":"active","balance":0,"address":null,"creation_date":"2021-04-11T20:14:20-05:00","external_id":null,"clabe":null}'
  recorded_at: Mon, 12 Apr 2021 01:14:21 GMT
recorded_with: VCR 6.0.0
