---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.openpay.mx/v1/mxibgczgkhrnyyeg01kz/customers/acwktt0druqzlzuj0gtp/cards
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic c2tfZTRkMmY2OTMwNjNiNGZiOGExNTNhYjRiN2E4MWQ1NDc6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Openpay-Request-Id:
      - d1772105-1c07-495c-b595-2a201308d5cc
    body:
      encoding: UTF-8
      string: '[{"id":"kpddux4emmzgxvhldy2v","type":"debit","brand":"visa","address":null,"card_number":"411111XXXXXX1111","holder_name":"Andres
        Arias","expiration_year":"21","expiration_month":"12","allows_charges":true,"allows_payouts":true,"creation_date":"2021-04-19T18:18:20-05:00","bank_name":"Banamex","bank_code":"002","customer_id":"acwktt0druqzlzuj0gtp"}]'
  recorded_at: Mon, 19 Apr 2021 23:30:55 GMT
recorded_with: VCR 6.0.0
