---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.openpay.mx/v1/mxibgczgkhrnyyeg01kz/cards/kdpa1madszyrljckqzc0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic c2tfZTRkMmY2OTMwNjNiNGZiOGExNTNhYjRiN2E4MWQ1NDc6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Openpay-Request-Id:
      - 16113085-ba24-4c25-919b-211f216ead05
    body:
      encoding: UTF-8
      string: '{"id":"kdpa1madszyrljckqzc0","type":"debit","brand":"visa","address":null,"card_number":"411111XXXXXX1111","holder_name":"Juan
        Perez Ramirez","expiration_year":"21","expiration_month":"12","allows_charges":true,"allows_payouts":true,"creation_date":"2021-04-03T10:33:45-06:00","bank_name":"Banamex","bank_code":"002"}'
  recorded_at: Mon, 19 Apr 2021 22:08:41 GMT
recorded_with: VCR 6.0.0
