---
http_interactions:
- request:
    method: put
    uri: https://sandbox-api.openpay.mx/v1/mxibgczgkhrnyyeg01kz/customers/ajvgvouwc4kmcxz8tukk
    body:
      encoding: UTF-8
      string: '{"name":"Juan","last_name":"Vazquez Juarez","email":"juan.vazquez@empresa.com.mx","requires_account":true,"phone_number":"44209087654"}'
    headers:
      Authorization:
      - Basic c2tfZTRkMmY2OTMwNjNiNGZiOGExNTNhYjRiN2E4MWQ1NDc6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Openpay-Request-Id:
      - c421a553-283a-430f-a9d1-1ab7a2c44a55
    body:
      encoding: UTF-8
      string: '{"id":"ajvgvouwc4kmcxz8tukk","name":"Juan","last_name":"Vazquez Juarez","email":"juan.vazquez@empresa.com.mx","phone_number":"44209087654","status":"active","balance":100.00,"address":null,"creation_date":"2021-04-11T20:14:21-05:00","external_id":null,"clabe":null}'
  recorded_at: Mon, 12 Apr 2021 04:37:16 GMT
recorded_with: VCR 6.0.0
