---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.openpay.mx/v1/mxibgczgkhrnyyeg01kz/charges
    body:
      encoding: UTF-8
      string: '{"source_id":"kwoytmpdy3ctqlyooi5f","method":"card","amount":1000,"currency":"MXN","description":"Cargo
        inicial a mi cuenta","order_id":"a46d8eb8b0555ef6cdeb84672ee46e35df759c11","device_session_id":"03QKX08AUPvoJyxY6PP0Xu9kC7Mabusw","customer":{"name":"Juan","last_name":"Vazquez
        Juarez","phone_number":4423456723,"email":"juan.vazquez@empresa.com.mx"}}'
    headers:
      Authorization:
      - Basic c2tfZTRkMmY2OTMwNjNiNGZiOGExNTNhYjRiN2E4MWQ1NDc6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Openpay-Request-Id:
      - 2f140b87-61ef-4f00-bbaa-d843d26c23c3
      Resource-Id:
      - truxps9dj97xyr2efboz
      Location:
      - https://sandbox-api.openpay.mx/v1/mxibgczgkhrnyyeg01kz/charges/truxps9dj97xyr2efboz
    body:
      encoding: UTF-8
      string: '{"id":"truxps9dj97xyr2efboz","authorization":"801585","operation_type":"in","transaction_type":"charge","card":{"type":"debit","brand":"mastercard","address":null,"card_number":"555555XXXXXX4444","holder_name":"Juan
        Perez Ramirez","expiration_year":"21","expiration_month":"12","allows_charges":true,"allows_payouts":false,"bank_name":"BANCO
        SANTANDER SERFIN S.A.","points_type":"santander","bank_code":"000","points_card":true},"status":"completed","conciliated":false,"creation_date":"2021-04-03T10:54:45-06:00","operation_date":"2021-04-03T10:54:46-06:00","description":"Cargo
        inicial a mi cuenta","error_message":null,"order_id":"a46d8eb8b0555ef6cdeb84672ee46e35df759c11","amount":1000.00,"currency":"MXN","customer":{"name":"Juan","last_name":"Vazquez
        Juarez","email":"juan.vazquez@empresa.com.mx","phone_number":"4423456723","address":null,"creation_date":"2021-04-03T10:54:45-06:00","external_id":null,"clabe":null},"fee":{"amount":31.50,"tax":5.0400,"currency":"MXN"},"method":"card"}'
  recorded_at: Sat, 03 Apr 2021 16:54:47 GMT
recorded_with: VCR 6.0.0
