---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.openpay.mx/v1/mxibgczgkhrnyyeg01kz/charges
    body:
      encoding: UTF-8
      string: '{"source_id":"kwoytmpdy3ctqlyooi5f","method":"card","amount":1000,"currency":"MXN","description":"Cargo
        inicial a mi cuenta","order_id":"666974727f7621ea602c9f29bb8490624e394cd9","device_session_id":"03QKX08AUPvoJyxY6PP0Xu9kC7Mabusw","customer":{"name":"Juan","last_name":"Vazquez
        Juarez","phone_number":4423456723,"email":"juan.vazquez@empresa.com.mx"}}'
    headers:
      Authorization:
      - Basic c2tfZTRkMmY2OTMwNjNiNGZiOGExNTNhYjRiN2E4MWQ1NDc6
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Openpay-Request-Id:
      - 6b39d201-bb94-465a-ae5e-3fbb9b61d7c1
      Op-Error-Code:
      - '1003'
    body:
      encoding: UTF-8
      string: '{"http_code":422,"error_code":1003,"category":"request","description":"This
        source_id was already used","request_id":"6b39d201-bb94-465a-ae5e-3fbb9b61d7c1"}'
  recorded_at: Sat, 03 Apr 2021 22:59:17 GMT
recorded_with: VCR 6.0.0
