---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.openpay.mx/v1/mxibgczgkhrnyyeg01kz/webhooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic c2tfZTRkMmY2OTMwNjNiNGZiOGExNTNhYjRiN2E4MWQ1NDc6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Openpay-Request-Id:
      - 2e5877c0-8189-4d38-93ea-b2e05400d421
    body:
      encoding: UTF-8
      string: '[{"url":"https://webhook.site/de69d25a-7fce-440b-ae4b-9e9a29d490da","user":"test","id":"wqogx3xpqvy30526l4qj","force_host_ssl":false,"event_types":["charge.refunded","charge.failed","charge.cancelled","charge.created","chargeback.accepted"],"status":"verified","allow_redirects":false}]'
  recorded_at: Thu, 08 Apr 2021 18:42:20 GMT
recorded_with: VCR 6.0.0
