---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.openpay.mx/v1/mxibgczgkhrnyyeg01kz/tokens
    body:
      encoding: UTF-8
      string: '{"card_number":4111111111111111,"holder_name":"Juan Perez Ramirez","expiration_year":21,"expiration_month":12,"cvv2":110}'
    headers:
      Authorization:
      - Basic c2tfZTRkMmY2OTMwNjNiNGZiOGExNTNhYjRiN2E4MWQ1NDc6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Openpay-Request-Id:
      - b9368e28-9a68-4844-a601-0a9db2577fe5
      Resource-Id:
      - krnsmcqqypsft2xeftqt
      Location:
      - https://sandbox-api.openpay.mx/v1/mxibgczgkhrnyyeg01kz/tokens/krnsmcqqypsft2xeftqt
    body:
      encoding: UTF-8
      string: '{"id":"krnsmcqqypsft2xeftqt","card":{"card_number":"411111XXXXXX1111","holder_name":"Juan
        Perez Ramirez","expiration_year":"21","expiration_month":"12","address":null,"creation_date":null,"brand":"visa"}}'
  recorded_at: Sat, 03 Apr 2021 16:24:59 GMT
recorded_with: VCR 6.0.0
